In [1]:
import pandas as pd
import numpy as np
# import array

In [2]:
# Load data from csv and read into pandas
csv_path = "Resources/purchase_data.csv"
purchaseData_df = pd.read_csv(csv_path)

In [3]:
purchaseData_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# get total revenue & number of transactions
revenue = purchaseData_df["Price"].sum()
transactionCount = len(purchaseData_df)

#revenue
#transactionCount

In [5]:
# get list of unique players and display total

uniquePlayers = purchaseData_df["SN"].unique()
uniquePlayersTot = len(uniquePlayers)
print(f"The total number of players is {uniquePlayersTot}")

The total number of players is 576

In [6]:
# convert list of unique players into DataFrame for pandas
uniquePlayers_df = pd.DataFrame({
    "SN": uniquePlayers
    })
# uniquePlayers_df.count()
# uniquePlayers_df.head

In [7]:
# get list of unique items and display total

uniqueItems = purchaseData_df["Item ID"].unique()
uniqueItemsTot = len(uniqueItems)
print(f"The total number of items is {uniqueItemsTot}")

The total number of items is 183

In [8]:
# convert list of unique items into DataFrame for pandas

uniqueItems_df = pd.DataFrame({
    "Item ID": uniqueItems
})

# uniqueItems_df.head()
# print(uniqueItems_df.count())


# create DataFrame of all unique items with prices
itemPrice_df = purchaseData_df[["Item ID", "Price"]]
itemPrice_df.sort_values("Item ID", inplace=True)
itemPrice_df.drop_duplicates("Item ID", keep="first", inplace=True)
# itemPrice_df

# len(itemPrice_df)
# itemPrice_df.head()

C:\Users\JohnG\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\JohnG\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [9]:
# get average purchase price for all transactions

purchaseData_df["Price"] = purchaseData_df["Price"].astype(float)

# purchaseData_df.dtypes

avgPricePurchases = purchaseData_df["Price"].mean()

# get average item price

avgPriceItems = itemPrice_df["Price"].mean()

In [10]:
purchasingAnalysis_df = pd.DataFrame({
    "No. Unique items" : uniqueItemsTot,
    "Avg Price" : avgPricePurchases,
    "No. of Purchaes" : transactionCount,
    "Total Revenue" : revenue
}, index = [0])

purchasingAnalysis_df["Avg Price"] = purchasingAnalysis_df["Avg Price"].map("${:.2f}".format)
purchasingAnalysis_df["Total Revenue"] = purchasingAnalysis_df["Total Revenue"].map("${:.2f}".format)

purchasingAnalysis_df.head()

   No. Unique items Avg Price  No. of Purchaes Total Revenue
0               183     $3.05              780      $2379.77

In [11]:
# populate variables for Gender Demographics

# xxPlayerPurchases will create data frame with all purchases from specific gender
# xxPlayers_list will create list of all unique players from specific gender
# xxPlayersTot is number of players with specific gender

malePlayerPurchases_df = purchaseData_df.loc[(purchaseData_df["Gender"] == "Male"), :]
malePlayerPurchases_df

malePlayers_df = purchaseData_df.loc[(purchaseData_df["Gender"] == "Male"), ["SN", "Gender"]]
malePlayers_list = malePlayers_df["SN"].unique()
malePlayersTot = len(malePlayers_list)
# malePlayersTot

malePlayerShare = malePlayersTot / uniquePlayersTot


femalePlayerPurchases_df = purchaseData_df.loc[(purchaseData_df["Gender"] == "Female"), :]
#femalePlayerPurchases_df

femalePlayers_df = purchaseData_df.loc[(purchaseData_df["Gender"] == "Female"), ["SN", "Gender"]]
femalePlayers_list = femalePlayers_df["SN"].unique()
femalePlayersTot = len(femalePlayers_list)
# femalePlayersTot

femalePlayerShare = femalePlayersTot / uniquePlayersTot

otherPlayerPurchases_df = purchaseData_df.loc[(purchaseData_df["Gender"] == "Other / Non-Disclosed"), :]
# otherPlayerPurchases_df

otherPlayers_df = purchaseData_df.loc[(purchaseData_df["Gender"] == "Other / Non-Disclosed"), ["SN", "Gender"]]
otherPlayers_list = otherPlayers_df["SN"].unique()
otherPlayersTot = len(otherPlayers_list)
# otherPlayersTot

otherPlayerShare = otherPlayersTot / uniquePlayersTot

In [12]:
# generate data frame and format Gender Demographics

playerDemographics_df = pd.DataFrame({
    "Total Players" : [malePlayersTot, femalePlayersTot, otherPlayersTot],
    "Percent of Players" : [malePlayerShare * 100, femalePlayerShare * 100, otherPlayerShare * 100],
}, index = ["Male", "Female", "Other / Non-Disclosed"])


playerDemographics_df["Percent of Players"] = playerDemographics_df["Percent of Players"].map("{:.2f}%".format)

playerDemographics_df.head()

                       Total Players Percent of Players
Male                             484             84.03%
Female                            81             14.06%
Other / Non-Disclosed             11              1.91%

In [13]:
# populate variables for Purchase Analysis (Gender) data frame

malePurchaseCount = malePlayerPurchases_df["SN"].count()
malePurchaseTot = malePlayerPurchases_df["Price"].sum()
avgMalePurchase = round(malePurchaseTot / malePurchaseCount, 2)
avgMalePurchasePerson = round(malePurchaseTot / malePlayersTot, 2)

femalePurchaseCount = femalePlayerPurchases_df["SN"].count()
femalePurchaseTot = femalePlayerPurchases_df["Price"].sum()
avgFemalePurchase = round(femalePurchaseTot / femalePurchaseCount, 2)
avgFemalePurchasePerson = round(femalePurchaseTot / femalePlayersTot, 2)

otherPurchaseCount = otherPlayerPurchases_df["SN"].count()
otherPurchaseTot = otherPlayerPurchases_df["Price"].sum()
avgOtherPurchase = round(otherPurchaseTot / otherPurchaseCount, 2)
avgOtherPurchasePerson = round(otherPurchaseTot / otherPlayersTot, 2)

# print(malePurchaseCount)
# print(malePurchaseTot)
# print(avgMalePurchase)
# print(avgMalePurchasePerson)

# print(femalePurchaseCount)
# print(femalePurchaseTot)
# print(avgFemalePurchase)
# print(avgFemalePurchasePerson)

# print(otherPurchaseCount)
# print(otherPurchaseTot)
# print(avgOtherPurchase)
# print(avgOtherPurchasePerson)

In [14]:
# generate data frame and format for Purchase Analysis (Gender)

genderPurchasingAnalysis_df = pd.DataFrame({
    "Purchase Count" : [femalePurchaseCount, malePurchaseCount, otherPurchaseCount],
    "Avg Purchase Price" : [avgFemalePurchase, avgMalePurchase, avgOtherPurchase],
    "Tot Purchase Value" : [femalePurchaseTot, malePurchaseTot, otherPurchaseTot],
    "Avg Tot Purchase / Person" : [avgFemalePurchasePerson, avgMalePurchasePerson, avgOtherPurchasePerson]
}, index = ["Female", "Male", "Other"])

genderPurchasingAnalysis_df["Avg Purchase Price"] = genderPurchasingAnalysis_df["Avg Purchase Price"].map("${:.2f}".format)
genderPurchasingAnalysis_df["Tot Purchase Value"] = genderPurchasingAnalysis_df["Tot Purchase Value"].map("${:.2f}".format)
genderPurchasingAnalysis_df["Avg Tot Purchase / Person"] = genderPurchasingAnalysis_df["Avg Tot Purchase / Person"].map("${:.2f}".format)

genderPurchasingAnalysis_df

,Purchase Count,Avg Purchase Price,Tot Purchase Value,Avg Tot Purchase / Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other,15,$3.35,$50.19,$4.56

In [85]:
# generate bins and data frame for Age Demographics

bins = [0, 9, 14, 19, 24, 29, 34, 39, 1000]
binLabels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchaseData_df["Age Grp"] = pd.cut(purchaseData_df["Age"], bins, labels = binLabels)
purchaseData_df.head()

uniquePlayerData_df = purchaseData_df[["SN", "Age", "Gender", "Age Grp"]]
uniquePlayerData_df.drop_duplicates("SN", keep="first", inplace=True)


playerAgeBinCount = uniquePlayerData_df.groupby("Age Grp")
playerAgeBinCount = playerAgeBinCount["Age Grp"].count().values
lovPlayerAgeBinCount = playerAgeBinCount.tolist()
lovPlayerAgeBinCount

playerAgeBinPercentage = []

for number in lovPlayerAgeBinCount:
        playerAgeBinPercentage.append(number / uniquePlayersTot * 100)

ageDemo = zip(lovPlayerAgeBinCount, playerAgeBinPercentage)

     
ageDemo_df = pd.DataFrame(ageDemo,
                          columns=["Total Count", "Percent of Players"],
                          index = [binLabels])

ageDemo_df["Percent of Players"] = ageDemo_df["Percent of Players"].map("{:.2f}%".format)

ageDemo_df


# purchaseData_df.head()
# uniquePlayerData_df.head()
# len(uniquePlayerData_df)
# playerAgeBins["Age Grp"].count()
# playerAgeBinPercentage

C:\Users\JohnG\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

       Total Count Percent of Players
<10             17              2.95%
10-14           22              3.82%
15-19          107             18.58%
20-24          258             44.79%
25-29           77             13.37%
30-34           52              9.03%
35-39           31              5.38%
40+             12              2.08%

In [84]:
# generate data frame for Purchasing Analysis (Age)

# purchaseData = purchaseData_df.groupby("Age Grp")

purchaseAnalysis_PC = purchaseData_df[["SN", "Age Grp"]]
purchaseAnalysis_PC = purchaseAnalysis_PC.groupby("Age Grp").count()
purchaseAnalysis_PC

purchaseAnalysis_APP = purchaseData_df[["Price", "Age Grp"]]
purchaseAnalysis_APP = purchaseAnalysis_APP.groupby("Age Grp").mean()
purchaseAnalysis_APP

purchaseAnalysis_TPV = purchaseData_df[["Price", "Age Grp"]]
purchaseAnalysis_TPV = purchaseAnalysis_TPV.groupby("Age Grp").sum()
purchaseAnalysis_TPV

purchaseDataPP = purchaseData_df[["SN","Price"]]
purchaseDataPP = purchaseDataPP.groupby(["SN"]).mean()
purchaseDataPP = pd.merge(purchaseDataPP, uniquePlayerData_df, on="SN", how="left")
purchaseDataPP = purchaseDataPP.groupby("Age Grp").mean()
purchaseDataPP["Price"]

purchaseAnalysis_combined = pd.concat([purchaseAnalysis_PC, purchaseAnalysis_APP, purchaseAnalysis_TPV, purchaseDataPP["Price"]], 
                                      axis=1, 
                                      join="inner",
                                     )

purchaseAnalysis_combined.columns = ["Purchase Count", "Avg Purchase Price", "Tot Purchase Value", "Avg Tot Purchase / Person"]

purchaseAnalysis_combined["Avg Tot Purchase / Person"] = purchaseAnalysis_combined["Avg Tot Purchase / Person"].map("${:.2f}".format)

purchaseAnalysis_combined

,Purchase Count,Avg Purchase Price,Tot Purchase Value,Avg Tot Purchase / Person
Age Grp,,,,
<10,23,3.353478,77.13,$3.49
10-14,28,2.956429,82.78,$3.04
15-19,136,3.035956,412.89,$3.07
20-24,365,3.052219,1114.06,$3.03
25-29,101,2.900990,293.00,$2.83
30-34,73,2.931507,214.00,$2.94
35-39,41,3.601707,147.67,$3.56
40+,13,2.941538,38.24,$2.97

In [135]:
purchaseData_PCPP = purchaseData_df.groupby("SN").count()
purchaseData_PCPP = purchaseData_PCPP["Purchase ID"]
purchaseData_PCPP = purchaseData_PCPP.sort_values(ascending=False)
                                             
# purchaseData_df

purchaseData_TPVPP = purchaseData_df.groupby("SN").sum()
purchaseData_TPVPP = purchaseData_TPVPP["Price"]
purchaseData_TPVPP = purchaseData_TPVPP.sort_values(ascending=False)
purchaseData_TPVPP

purchaseDataPP = pd.concat([purchaseData_PCPP, purchaseData_TPVPP],
                          axis=1,
                          join="inner",
                          )

purchaseDataPP.columns = ["Purchase Count", "Tot Purchase Value"]
purchaseDataPP["Avg Purchase Price"] = purchaseDataPP["Tot Purchase Value"] / purchaseDataPP["Purchase Count"]

purchaseDataPP = purchaseDataPP.sort_values(["Tot Purchase Value"], ascending=False)

purchaseDataPP["Tot Purchase Value"] = purchaseDataPP["Tot Purchase Value"].map("${:.2f}".format)
purchaseDataPP["Avg Purchase Price"] = purchaseDataPP["Avg Purchase Price"].map("${:.2f}".format)

purchaseDataPP.head(5)

             Purchase Count Tot Purchase Value Avg Purchase Price
SN
Lisosia93                 5             $18.96              $3.79
Idastidru52               4             $15.45              $3.86
Chamjask73                3             $13.83              $4.61
Iral74                    4             $13.62              $3.40
Iskadarya95               3             $13.10              $4.37

In [149]:
purchaseData_df

itemPurchaseCt = purchaseData_df.groupby("Item ID").count()
itemPurchaseCt = itemPurchaseCt["Purchase ID"]

itemRevTot = purchaseData_df.groupby("Item ID").sum()
itemRevTot = itemRevTot["Price"]
itemRevTot

popItems = pd.concat([itemPurchaseCt, itemRevTot],
                          axis=1,
                          join="inner",
                          )

popItems.columns = ["Purchase Count", "Tot Purchase Value"]
popItems["Item Price"] = popItems["Tot Purchase Value"] / popItems["Purchase Count"]
popItems1 = popItems.sort_values(["Purchase Count"], ascending=False)

popItems1["Tot Purchase Value"] = popItems1["Tot Purchase Value"].map("${:.2f}".format)
popItems1["Item Price"] = popItems1["Item Price"].map("${:.2f}".format)

popItems1.head(5)

         Purchase Count Tot Purchase Value Item Price
Item ID
178                  12             $50.76      $4.23
145                   9             $41.22      $4.58
108                   9             $31.77      $3.53
82                    9             $44.10      $4.90
19                    8              $8.16      $1.02

In [150]:
popItems2 = popItems.sort_values(["Tot Purchase Value"], ascending=False)
popItems2["Tot Purchase Value"] = popItems2["Tot Purchase Value"].map("${:.2f}".format)
popItems2["Item Price"] = popItems2["Item Price"].map("${:.2f}".format)
popItems2.head(5)

         Purchase Count Tot Purchase Value Item Price
Item ID
178                  12             $50.76      $4.23
82                    9             $44.10      $4.90
145                   9             $41.22      $4.58
92                    8             $39.04      $4.88
103                   8             $34.80      $4.35